@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200 & display=swap');


  body{
    font-family: 'Montserrat' , sans-serif;
    background-color:#ffffff;
    color:black;
    height: 100vh;
    margin: auto;   
}

.container-fluid,
.barra nav{
  background-color: #0070e9;
  background-image: linear-gradient(270deg, #0070e9 30%, #80D0C7 100%);
  margin-top: 1%;
  position: fixed;  
}


.main{
    padding-top: 10rem;
    margin-bottom: 13rem;
    margin-left: 20rem;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background-color: #ffffff;
  }
  
 .imagen{
  width: 600px;
  clip-path: circle();
  position: absolute;
  left: 73.5em;
  top: 10em;
  
  
 }

 /*nombre y animacion*/
h1{
    font-size: 4rem;
  
        -webkit-animation: h1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: h1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

span{
    color:#1c4de0d6;
}

@-webkit-keyframes h1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes h1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  /*boton descarga cv y leer mas */
  .download{
    padding: 10px 20px;
    background-color:#1c4de0d6;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200, .69);
  }

  .download:hover{
    background-color: #ffffff;
    box-shadow: none;
  }


/*logo argpro*/
.logoAp{
    filter: invert(1);
}

/*botones redes sociales y amimacion*/
.button {
   display: flex;
   justify-content: center;
   margin-top: 10em;
  }
.button a{
    text-decoration: none;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height: 52.4px;
    text-align: center ;
    background-color: rgba(21, 39, 140, 0.5);
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    margin: 5px;
    
   
}
.button a:hover{
    transform: scale(1.2);
}

 /* sobre mi css*/
.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    width: 100vw;
    align-items: center;    
}

.sobre img{
    grid-column: 1/5;
    height: 60rem;
    width: 45rem;
    
}

.sobre-mi-info{
 grid-column: 5/10;
 padding: 4em;
}


.sobre-mi-info h2{
    font-size: 2em;
    color:#2b262e;
    
  }
  .sobre-mi-info p{
      margin-bottom: 1em;
  }
  
  /*subrrayado titulos*/

.divider{
    height: 4px;
    width: 60px;
    background-color:#1c4de0d6;
    margin-bottom: 2em;
    margin-top: 5px;
}



/*Habilidades*/

.habilidades,
.educacion,
.laboral,
.proyectos{
  padding-left: 5rem;
  margin-bottom: 7rem;
}

.habilidades section{
 position: static;
  
}

.skills {

  margin-top: 5rem;
  margin-bottom : 0rem;
}


.progress-bar-animated{
  background-color: #1c4de0d6;
  
}

.progress{
  margin: 30px;
  margin-bottom: 4rem;
  width: 50rem;
background-color: rgba(169, 169, 169, 0.522);
}




/*Laboral*/

.full-width{
  width:100%;
  margin:0 auto;
  text-align:center;
}

.white-text-square{
  width:23%;
  height:300px;
  background-color:#fff;
  background:#fff;
  margin:10px;
  display: inline-block;
  box-shadow:0 0 15px rgba(0,0,0,.5);
  overflow:hidden;
  border-radius:5px;
}

.white-text-square h5{
  background:#1c4de0d6;
  margin:0;
  padding:5% 0;
  text-transform:uppercase;
  color:white;
  font-size:25px;
}

.white-text-square p{
  margin:38px 0 20px 0;
  font-size:18px;
  line-height:20pt;
  color: black;
}

.white-text-square span{
  font-size:20px;
  font-weight:bold;
  color:rgb(0, 0, 0);
  margin-bottom: 300px;
  text-align: center;
  text-align: justify;
}
.length {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* PROYECTOS*/

